<!DOCTYPE html>
  <html lang="en" dir="ltr">
    <head>
      <meta charset="utf-8">
      <title><%= pageTitle %></title>
      <!-- Bootstrap stylesheet -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

      <!-- Google Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

      <!-- Local stylesheet -->
      <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
      <!-- navbar -->
      <div class="container">
       <header class="blog-header py-3">
         <div class="collapse" id="collapseExample">
           <div class="card card-body">
             <span class="container text-muted row">
               <div class="footer-title col"><h5>&copy; copyright 2019 Tenner</h5></div>
               <div class="fab-div col">
                 <a href="https://github.com/ayoelx"><i class="fab fab-footer fa-github p-2"></i></a>
                 <a href="https://instagram.com/tomiwa_21"><i class="fab fab-footer fa-instagram p-2"></i></a>
                 <a href="https://twitter.com/Tomiwa96368838"><i class="fab fa-twitter fab-footer p-2"></i></a>
                 <a href="mailto: gabeorimoloye@gmail.com"><i class="fas fab-footer p-2 fa-envelope"></i></a>
               </div>
             </span>
           </div>
         </div>
         <div class="row flex-nowrap justify-content-between align-items-center">
           <div class="col-4 pt-1">
             <a class="text-muted" data-toggle="collapse" href="#collapseExample">About Us</a>
           </div>
           <div class="col-4 text-center">
             <a class="blog-header-logo text-dark" id="header-title" href="/">Tenner | Blog</a>
           </div>
           <div class="col-4 d-flex justify-content-end align-items-center">
             <!-- Search svg -->
             <!-- <a class="text-muted" href="#">
               <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24" focusable="false"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"/><path d="M21 21l-5.2-5.2"/></svg>
             </a> -->
             <a class="btn btn-sm btn-outline-secondary" href="#" data-toggle="modal" data-target="#exampleModal">Sign up</a>
           </div>
         </div>
       </header>
       <hr>
       <div class="nav-scroller py-1 mb-2">
         <nav class="nav d-flex justify-content-between">
           <a class="p-2 text-muted" href="#">World</a>
           <a class="p-2 text-muted" href="#">Technology</a>
           <a class="p-2 text-muted" href="#">Design</a>
           <a class="p-2 text-muted" href="#">Sports</a>
           <a class="p-2 text-muted" href="#">Business</a>
           <a class="p-2 text-muted" href="#">Politics</a>
           <a class="p-2 text-muted" href="#">Opinion</a>
           <a class="p-2 text-muted" href="#">Science</a>
           <a class="p-2 text-muted" href="#">Health</a>
           <a class="p-2 text-muted" href="#">Style</a>
           <a class="p-2 text-muted" href="#">Travel</a>
         </nav>
       </div>

        <h1 class="first-title"><%- titleContent -%></h1>
        <p><%= homeContent %></p>
