<%- include('partials/header') -%>

    <h1>Home</h1>
    <p><%= homeContent %></p>

    <script type="text/javascript">
      let search = document.querySelector('#search');
      search.addEventListener('mouseover', (event) => {
        search.classList.add('appear');
      });
    </script>

    <%- include('partials/footer') -%>
